@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.container {
  display: grid;
  grid-template-columns: 340px 900px;
  grid-template-rows: auto;
  grid-gap: 1rem;
  align-content: auto;
}

.container2 {
  background-color: #5555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}

.item2 {
  background-color: #3b404e;
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  display:flex:
  align-self: auto, center;
  flex-shrink: 1rem;
  flex-grow: 1rem;
}
header {
  align-items: center;
  flex:auto;
}

.page-header-title header {
  font-size: 3rem;
  align-content: center;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-content: space-between;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}}
img {
  align-items: center;
  flex: auto;
}
svg {
  display: inline-flex;
  flex-shrink: auto;
  flex-grow: auto;
  background-image: url('images/logos/xb3logostarsbars320w.png');
}
.page-title div {
  align-self: center;
  font-family: "Goldman", "Roboto", Helvetica, sans-serif;
  font-size: 20rem;
  font-weight: 900;
}

.topnav {
  border-top-style: inset;
  border-bottom-style: solid;
  border-color: black;
  border-weight: 2px
}

.section br {
  border-style: hidden;
  border-weight: 1rem;
}
.page-section1 {
  align-self: auto;
  display: flex;
  min-max-width: 100%;
  word-wrap: normal;
}

body {
    font-family: "Goldman", "Roboto", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal, 900, 700, 500, 400, 300, 100;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}

h1, h2 {
	font-family: "Goldman",'Roboto', 'Open Sans', sans-serif;
	font-size: 96px, 48px;
	font-style: normal;
  font-weight: 900, 700;
  align: center;
}

h3 {
  font-family: 'Roboto', "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

a {
  font-family: "Open Sans", sans-serif;
  color: blue;
  font-weight: bold;
}

p {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 18px;
  display: inline-block;
  flex: auto;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.item1 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item2 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item3 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item4 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item5 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.svg {
    display: flex;
    position: relative;
    align-content: center;
}

@media (min-width:320px) {.container {
  display: grid;
  grid-template-columns: 340px, 1240px;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.flexbox {

}

.div title {
  font-family: "Goldman", "Roboto", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bolder;
}

.topnav {
  border-top-style: inset;
  border-bottom-style: solid;
  border-color: black;
  border-weight: 2px
}

.section br {
  border-style: hidden;
  border-weight: 1rem;
}
.page-section1 {
  align-self: auto;
  display: flex;
  min-max-width: 100%;
  word-wrap: normal;
  background-image: url(relative:"/images/logos/xb3logo96x128.png")
}
.page-section1 div {
  	font-family: "Goldman","Roboto","Open Sans", sans-serif;
  	font-size: 48px, 28px, 18px;
  	font-style: normal;
    font-weight: 700,500,400;
  }
}
body {
    font-family: "Goldman", "Roboto", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal, 900, 700, 500, 400, 300, 100;
}
.item1 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item2 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item3 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item4 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item5 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.svg {
    display: flex;
    position: relative;
    align-content: center;
    }
h1, h2 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.25rem, 1.15rem;
	font-style: normal,italic;
  font-weight: 900, 700;
  }

h3 {
  font-family: 'Roboto', "Open Sans", sans-serif;
  font-size: 1.10rem;
  font-weight: 500;
  }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400:bold;
  }
}

@media (min-width:699px) {.container {
  display: grid;
  grid-template-columns: 340px, 1240px;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.flexbox {

}

.header title {
  font-family: "Goldman", "Roboto", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bolder;
}

.topnav {
  border-top-style: inset;
  border-bottom-style: solid;
  border-color: black;
  border-weight: 2px
}

.page-section1 {
  align-self: auto;
  display: flex;
  min-max-width: 100%;
  word-wrap: normal;
  background-image: url(relative:"/images/logos/xb3logo96x128.png")
}
.page-section1  {
  	font-family: "Goldman","Roboto","Open Sans", sans-serif;
  	font-size: 48px, 28px, 18px;
  	font-style: normal;
    font-weight: 700,500,400;
  }
}

}.item1 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item2 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item3 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item4 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item5 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.svg {
    display: flex;
    position: relative;
    align-content: center;
  }
h1, h2 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.5rem, 1.25rem;
	font-style: normal,italic;
  font-weight: 900, 700;
  }

h3 {
  font-family: 'Roboto', "Open Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400:bold;
  }
}

@media (min-width:800px) {.container {
  display: grid;
  grid-template-columns: 340px, 1240px;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.flexbox {

}

.div title {
  font-family: "Goldman", "Roboto", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bolder;
}

.topnav {
  border-top-style: inset;
  border-bottom-style: solid;
  border-color: black;
  border-weight: 2px
}

.section br {
  border-style: hidden;
  border-weight: 1rem;
}
.page-section1 {
  align-self: auto;
  display: flex;
  min-max-width: 100%;
  word-wrap: normal;
  background-image: url(relative:"/images/logos/xb3logo96x128.png")
}
.page-section1 div {
  h1, h2 {
  	font-family: "Goldman","Roboto","Open Sans", sans-serif;
  	font-size: 48px, 28px, 18px;
  	font-style: normal;
    font-weight: 700,500,400;
  }
}
.item1 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item2 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item3 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item4 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.item5 {
  margin: 1.1rem;
  display: flex;
  align-self: center;
}

.svg {
    display: flex;
    position: relative;
    align-content: center;
}

h1, h2 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.5rem, 1.25rem;
	font-style: normal,italic;
  font-weight: 900, 700;
  }

h3 {
  font-family: 'Roboto', "Open Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400:bold;
  }
}

@media (min-width:1000px) {.container {
  display: grid;
  grid-template-columns: 340px, 1240px;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.flexbox {

}

.div title {
  font-family: "Goldman", "Roboto", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bolder;
}

.topnav {
  border-top-style: inset;
  border-bottom-style: solid;
  border-color: black;
  border-weight: 2px
}

.section br {
  border-style: hidden;
  border-weight: 1rem;
}
.page-section1 {
  align-self: auto;
  display: flex;
  min-max-width: 100%;
  word-wrap: normal;
  background-image: url(relative:"/images/logos/xb3logo96x128.png")
}
.page-section1 div {
  h1, h2 {
  	font-family: "Goldman","Roboto","Open Sans", sans-serif;
  	font-size: 48px, 28px, 18px;
  	font-style: normal;
    font-weight: 700,500,400;
  }
}
h1, h2 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.5rem, 1.25rem;
	font-style: normal,italic;
  font-weight: 900, 700;
  }

h3 {
  font-family: 'Roboto', "Open Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400:bold;
  }
}
@media (min-width:1200px) {.container {
  display: grid;
  grid-template-columns: 340px, 1240px;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.flexbox {

}

.div title {
  font-family: "Goldman", "Roboto", Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bolder;
}

.topnav {
  border-top-style: inset;
  border-bottom-style: solid;
  border-color: black;
  border-weight: 2px
}

.section br {
  border-style: hidden;
  border-weight: 1rem;
}
.page-section1 {
  align-self: auto;
  display: flex;
  min-max-width: 100%;
  word-wrap: normal;
  background-image: url(relative:"/images/logos/xb3logo96x128.png")
}
.page-section1 div {

}
h1, h2 {
  	font-family: "Goldman","Roboto","Open Sans", sans-serif;
  	font-size: 48px, 28px, 18px;
  	font-style: normal;
    font-weight: 700,500,400;
  }
}

h3 {
  font-family: 'Roboto', "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400:bold;
}
